.full {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: white;
  font-size: 3vw;
  text-align: center;

  img {
    width: 40vw;
  }

  .center-container {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;

    h1 {
      color: black;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    Button {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 2vw;
    }
  }
}
